*{
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Myprofile部分 */
h1 {
    font-family: "Josefin Sans",sans-serif;
    color:#000;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    text-shadow: 3px 7px 5px rgba(192, 192, 192, 0.601);
    border-bottom: 3px solid rgb(115, 115, 114);
}
.title_m{
    color:skyblue;
    font-size: 2rem;
    
}

.title_p{
    color:rgb(255, 192, 203);
    font-size: 2rem;
}

/* 自己紹介詳細 */
h2:nth-of-type(odd) { color:rgb(255, 192, 203); font-weight: bold; }
h2:nth-of-type(even){ color:skyblue; font-weight: bold;}

.name ,.birth{font-weight: bold;}