*{
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}
.h1_title{
    font-family: "Josefin Sans";
    color:#000;
    font-size: 40px;
    letter-spacing: 24px;
    text-shadow: 3px 7px 5px rgba(192, 192, 192, 0.601);
    border-bottom: 3px solid rgb(115, 115, 114);
}
.title_m{
    font-family: "Josefin Sans";
    color:skyblue;
    font-size: 40px;
    letter-spacing: 24px;
}
.styles{
    font-weight: bold;
}
.birth_h2 , .hobby_h2, .reason_h2{
    color:skyblue;
}
.title_p{
    font-family: "Josefin Sans";
    color:rgb(255, 192, 203);
    font-size: 40px;
    letter-spacing: 24px;
}

.name_h2, .blood_h2, .food_h2{
    color:rgb(255, 192, 203);
}
